* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: #56ab2f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,
            #2f4f30,
            #56ab2f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,
            #2f4f30,
            #56ab2f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    width: 100%;
}

header {
    background-color: #161616b6;
}

header>h1 {
    text-align: center;
    padding: 16px;
    color: #f1f1f1;
    letter-spacing: 10px;
}

.cont {
    margin: 0;
    margin-bottom: 16px;

}

button {
    font-weight: 600;
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: #f1f1f1;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: #c5c5c5 0px 10px 0px 0px;
    color: hsl(0, 0%, 0%);
    margin: 10px 30px;
}

button:hover {
    box-shadow: #c5c5c5 0px 7px 0px 0px;
}

button:active {
    background-color: #f1f1f1;
    box-shadow: #c5c5c5 0px 0px 0px 0px;
    transform: translateY(5px);
}

button:disabled {
    background-color: #7e7e7e;
    box-shadow: #333333 0px 0px 0px 0px;
    transform: translateY(5px);
}

button:nth-child(3) {
    background-color: rgb(255, 56, 86);
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
}

button:nth-child(3):hover {
    background-color: rgb(202, 1, 1);
    box-shadow: 0px 7px 0px 0px rgb(255, 46, 46);
}

button:nth-child(3):active {
    background-color: rgb(202, 1, 1);
    box-shadow: rgb(255, 46, 46) 0px 0px 0px 0px;
}

button:nth-child(3):disabled {
    background-color: rgb(131, 36, 36);
    box-shadow: #551d1d 0px 0px 0px 0px;
    transform: translateY(5px);
}

/* CARTAS */

.carta {
    width: 130px;
    margin-left: -60px;
}

.cont-cartas {
    padding: 15px 100px;
    min-height: 230px;
}

.cont-juego {
    margin: 0 150px ;
}